/* Universal selector */

    * {/*   to measure container from outer edge 
            and accounts for border and padding */
        box-sizing: border-box;
    }

/* Type selectors */

    body { 
        font-family: monospace, 'Times New Roman', Times, serif;      
        background-color: #323232;   
        color: #829CD0;
        /* remove default margins */
        margin: 0; 
    }

    header {
        background-color: #cef;
        width: 100%;
        padding: 2rem;
        line-height: 0;
    }

    header p {
        text-indent: 4rem;
    }

    main {
        background-color: #666;
        /* Bugfix and support for IE9 */
        text-align: center;
        display: block;
    }

    main p {
        max-width: 670px;
        margin: 0 auto;
    }

    main ul {
        display: block; 
        padding: 0;
        margin: 0;
        list-style-type: none;
    }

    textarea,
    input {
        background-color: #eee;
    }

    footer {
        padding: 1rem;
        text-align: center;
    }

    footer a {
        text-decoration: none;
    }

    footer img {
        height: 3rem;
        width: auto;
    }

/* Class selectors */

    .container {
        max-width: 864px;
        margin: 0 auto;
    }
