/* Universal selector */

    * {/*   to measure container from outer edge 
            and accounts for border and padding */
        box-sizing: border-box;
    }

/* Type selectors */

    body { 
        font-family: monospace, 'Times New Roman', Times, serif;      
        background-color: #323232;   
        /* remove default margins */
        margin: 0; 
        color: #829CD0;
    }

    header {
        width: 75%;
        margin: 0 auto;
        padding: 1rem;
        text-align: center;
    }

    main {
        background-color: #666;
        width: 50%;
        margin: 0 auto;
        text-align: center;
        /* Bugfix and support for IE9 */
        display: block;

    }

    ul {
        display: block; 
        padding: 0;
        margin: 0;
        list-style-type: none;
    }

    footer {
        width: 25%;
        background-color: #323232;
        margin: 2em auto;
        padding: 15px;
        border-radius: 20px;
        text-align: center;
    }

