    body {
        /* text-align: center; */
        font-family: monospace, 'Times New Roman', Times, serif;      
        background-color: #6D6D6D;        /* background-image: url("/img/background.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center; */
    }
    header {
        width: 75%;
        background-color: #6D6D6D;
        margin: 0 auto;
        padding: 15px;
        border-radius: 20px;
        text-align: center;
    }
    h1, h2, h3 {
        width: 50%;
        background-color:#323232;
        margin: 0 auto;
        text-align: center;
        color: #829CD0;
    }
    /* h2 {
        color:#65F7F7
    }
    h3 {
        color: #5CFCFF
    } */
    p {
        width: 50%;
        margin: 0 auto;
        background-color:#323232;
        color:#829CD0;
        text-align: center;
        /* max-width: 25em; */
        /* margin: 0 auto; */
    }   
    ul {
        background-color: #323232;
        color: #829CD0; 
        margin: 0 auto;
        padding: 5px 0 0 0; /* this will make the list center */
        display: table; 
        list-style: none;
        text-align: center;
    }
    footer {
        width: 25%;
        background-color: #323232;
        margin: 2em auto;
        padding: 15px;
        border-radius: 20px;
        text-align: center;
    }